<app-header></app-header>

<div class="container p-50">
    <div class="column">
        <p>Get In Touch</p>

        <p>Got a custom tour/vehicle requirement? Write to us using the form below. Also feel free to call our office
            landline or mobile numbers listed or kindly drop in to our office to discuss your requirements in person.
            We’d be glad to respond to your needs quickly.</p>
    </div>
    <div class="column">
        <p>Contact Details</p>
        <div class="d-flex align-item" *ngFor="let item of contact">
            <mat-icon class="iconClr">{{item.icon}}</mat-icon>
            <p class="pl-10">{{item.value}}</p>
        </div>
    </div>


    <div class="column">

    </div>


    <div class="column">
        <img src="../../assets/img/map.png" class="mapImg">
        <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-left: 15px;">
            <mat-label>To</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>


          <mat-form-field appearance="fill" style="margin-left: 15px;">
            <mat-label>Total amount</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
    </div>

    

</div>

<app-footer></app-footer>