.br-4 {
    border-bottom: 4px solid grey;
    height: 4vh;
}

.pr-30 {
    position: relative;
    top:30px;
}

.sub-text {
    color:#838383;
}

.bg-color {
    background-color: #1e73be;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    background: #1e73be !important;
    border-color: #1e73be !important;
}