
<div class="d-flex space-between p-57 bg-color pb-40">
    <div style="max-width: 400px;color:white">
        <p>ABOUT US</p>
        <p class="br-4 w-55"></p>
        <span class="lh-33 f-15-regular">BASS TRAVELS is a leading tours and travels agency in Pondicherry. With over 10 years of experience in
            organizing tours and providing fleet services, we have gathered significant knowledge in designing and
            offering you the best tour packages to meet your requirements perfectly.
        </span> <br>

        <span class="mat-checkbox pr-30 lh-33 f-15-regular">BASS TRAVELS is a leading tours and travels agency in Pondicherry. With over 10
            years of experience in organizing tours and providing fleet services, we have gathered significant knowledge
            in designing and offering you the best tour packages to meet your requirements perfectly.
        </span>
    </div>

    <div style="max-width: 400px;color:white">
        <p>QUICK LINKS</p>
        <p class="br-4 w-55"></p>
        <p *ngFor="let item of quickLinks" class="d-flex align-item f-15-regular">
            <mat-icon>keyboard_arrow_right</mat-icon>
            {{item.value}}
        </p>
    </div>
    <div style="max-width: 400px;color:white">
        <p>CONTACT DETIALS</p>
        <p class="br-4 w-55"></p>
        <!-- <span class="d-flex align-item">
            <mat-icon>location_on</mat-icon>
            <span class="pl-10">
                #20,21,ECR, 100FT, ROAD, KARUVADIKUPPAM, PONDICHERRY-605008
            </span>
        </span>  -->
        <div class="d-flex align-item">
            <mat-icon>location_on</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">#20,21,ECR, 100FT, ROAD, KARUVADIKUPPAM, PONDICHERRY-605008<br>
            </p>
        </div>

        <div class="d-flex align-item">
            <mat-icon>phone</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">+919443279915 <br> +919443279915 <br>
                <span class="f-15-regular sub-text">Mon-Sat | 7.00 a.m. - 10.30 p.m.</span>
            </p>
        </div>

        <div class="d-flex align-item">
            <mat-icon>email</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">bookings basstravels.in<br>
                <span class="f-15-regular sub-text">We respond within 3 hours.</span>
            </p>
        </div>
    </div>
</div>