
<div class="d-flex space-between p-57 bg-color pb-40">
    <div style="max-width: 400px;color:white">
        <p>ABOUT US</p>
        <p class="br-4 w-55"></p>
        <span class="lh-33 f-15-regular">G.V.JEYASRI TRAVELS is a leading tours and travels agency in Pondicherry. With over 15+ years of experience in organizing tours and providing fleet services to meet your requirements perfectly. We also accommodate custom travel needs that you might have and offer you the best of our services. Our professional drivers will guide and support your tours and trips to ensure that your journey is totally comfortable.

        </span> <br>

        <span class="mat-checkbox pr-30 lh-33 f-15-regular">G.V.JEYASRI TRAVELS also offers a wide range of travel services such as high-tech fleet services for private tours, seasonal temple tours, corporate holiday outing, business tours and family weddings. Our fares are most reasonable and come with multiple benefits. Our primary objective is to offer a safe, comfortable and happy travel experience!

        </span>
    </div>

    <div style="max-width: 400px;color:white">
        <p>QUICK LINKS</p>
        <p class="br-4 w-55"></p>
        <p *ngFor="let item of quickLinks" class="d-flex align-item f-15-regular">
            <mat-icon>keyboard_arrow_right</mat-icon>
            {{item.value}}
        </p>
    </div>
    <div style="max-width: 400px;color:white">
        <p>CONTACT DETIALS</p>
        <p class="br-4 w-55"></p>
        <!-- <span class="d-flex align-item">
            <mat-icon>location_on</mat-icon>
            <span class="pl-10">
                #20,21,ECR, 100FT, ROAD, KARUVADIKUPPAM, PONDICHERRY-605008
            </span>
        </span>  -->
        <div class="d-flex align-item">
            <mat-icon>location_on</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">No:12,Sanarpalam,Cuddalore Main Road, Murunkapakam, Puducherry. 605007
                <br>
            </p>
        </div>

        <div class="d-flex align-item">
            <mat-icon>phone</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">9790283980, 9443499351 <br>
                <span class="f-15-regular sub-text">Mon-Sat | 7.00 a.m. - 10.30 p.m.</span>
            </p>
        </div>

        <div class="d-flex align-item">
            <mat-icon>email</mat-icon>
            <p class="mat-checkbox pl-10 f-15-regular lh-33">bookings jeyasritravels.in<br>
                <span class="f-15-regular sub-text">We respond within 3 hours.</span>
            </p>
        </div>
    </div>
</div>