<div class="d-flex space-between p-50">
    <div class="image-container">
        <img src="../../assets/img/logo.png">
    </div>

    <div *ngFor="let item of headerArea;let i = index" style="margin-left:15px">
        <div class="" [ngClass]="{'image-container': i !== headerArea.length - 1}">
        <mat-checkbox [checked]="true" ><span class="f-16-semibold">{{item.text}}</span></mat-checkbox><br>
        <span class="f-15-regular ml-44">{{item.subText}}</span>
        </div>
    </div>
</div>
<div class="d-flex space-between p-50" >
    <div class="bg-clr menu-bar">
        <p *ngFor="let item of menu">{{item.value}}</p>
    </div>
</div>
<div class="bg-img">
    <div class="bg-text">

        <p>Fleet</p>
        <p>Home > Fares </p>
    </div>
</div>
<!-- <app-content></app-content>
<app-footer></app-footer> -->
